.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 150px 170px;
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.service-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.service-container{
    display: grid;
    grid-template-columns: 1fr 1fr   ;
    gap: 40px;
    /* margin-left: 130px; */
    margin-bottom: 80px;
}
.service-format h3{
    font-size: 28px;
    font-weight: 600;
}
.service-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(7deg, #2008f4 10%, #7e7a7a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service-format p{
    color: #d4d4d4;
    font-size: 22px;
    line-height: 40px;
    max-width: 300px;
}
.service-format:hover{
    border: 2px solid #9187ef ;
    transform: scale(1.05 );
    transition: 0.4s;
    background-image: linear-gradient(9deg, #0d026e 40%, #454343 100%);
}

@media(max-width:768px){
    .service{
        align-items: start;
        margin: 20px 70px;
        gap: 70px;
    }
    .services-title h1{
        font-size: 50px;
        padding: 0;
    }
    .services-format{
        gap: 20px;
        padding: 32px;
    }
    .services-format h2{
        font-size: 28px;

    }
    .services-format p{
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }
    .service-container{
        grid-template-columns: 1fr;
        gap: 30px;
    }
}